.button-text-outline {
  .button {
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: var(--color-dark);
    cursor: pointer;
    transition: $transition-primary;
    border: 2px solid var(--color-dark);

    &:hover {
      background-color: var(--color-dark);
      color: $color-light;
    }
  }
}
