.text-area {
  .container {
    // border: 1px solid var(--color-dark);
    // padding: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    transition: $transition-primary;

    label {
      position: absolute;
      @include absCenter;
      cursor: text;
      color: var(--color-dark);
      transition: $transition-primary;
      white-space: nowrap;
    }

    textarea {
      resize: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      padding-left: 1rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: transparent;
      color: inherit;
      scrollbar-width: none;
      font-family: inherit;
      &::-webkit-scrollbar {
        display: none;
      }

      &:focus ~ label {
        top: -25%;
      }
    }
    &:hover {
      // border: 1px solid var(--color-secondary);
      label {
        top: -25%;
      }
    }

    .active-label {
      top: -25%;
    }
  }

  .active-input {
    // border: 1px solid var(--color-secondary);
    i {
      color: var(--color-secondary);
    }
  }

  .error-input {
    // border: 1px solid var(--color-danger) !important;
    i {
      color: var(--color-danger) !important;
    }

    textarea {
      &::placeholder {
        color: var(--color-danger);
      }
    }
  }
}
