.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  padding: 2.5rem 0;
  background-color: $color-dark;
  // background-color: var(--color-light);
  // box-shadow: var(--shadow-primary);
  transform: translateX(0);
  // transition: $transition-primary;
  z-index: 9;

  .logo {
    width: 5rem;
    height: 5rem;
    margin: 0 auto 2.5rem;
    cursor: pointer;

    img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  .provenioqa {
    width: 6rem;
    height: 6rem;
    img {
      border-radius: 5px;
    }
  }

  .menu {
    padding-top: 2.5rem;
    height: calc(100vh - 10rem);
    // overflow-x: visible;
    // overflow-y: scroll;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section {
      .tabs {
        // width: -webkit-fit-content;
        // width: -moz-fit-content;
        // width: fit-content;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          // background-color: var(--color-secondary);
          background-color: rgba($color-light, 0.1);
        }

        .icon {
          width: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            color: $color-light;
            font-size: 2rem;
          }
        }
      }

      .tab-active {
        background-color: var(--color-secondary) !important;
      }
    }
  }
}

.sidebar.sidebar-active {
  transform: translateX(-10rem);
}

.main {
  padding-left: 10rem;
  // transition: $transition-primary;
}

.main.sidebar-active {
  padding-left: 30rem;
}

@include respond(phone) {
  .sidebar {
    top: unset;
    bottom: 0;
    width: 100%;
    height: 7.5rem;
    padding: 0 0;
    .menu {
      flex-direction: row;
      align-items: center;
      height: 100%;

      .section {
        height: 100%;
        display: flex;
        align-items: center;

        .tabs {
          margin-bottom: 0;
          margin: 0 0.5rem;
        }
      }
    }
  }

  .main {
    padding-left: 0 !important;
  }
}
