.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem !important;
  border-radius: 5px !important;
  cursor: pointer;

  i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  p {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  &:hover {
    background-color: rgba($color-grey, 0.2);
  }
}
