.button-icon-text-fill {
  .button {
    height: 4.5rem;
    min-width: 12rem;
    padding: 1.2rem 2.4rem;
    background-color: var(--color-secondary);
    border-radius: 10px;
    border: none;
    color: var(--color-light);
    cursor: pointer;
    border: 2px solid var(--color-secondary);
    opacity: 1;
    font-size: 1.2rem;
    color: $color-light;
    .icon-left {
      margin-right: 1rem;
    }
    .icon-right {
      margin-left: 1rem;
    }

    &:hover {
      opacity: 0.75;
    }
    .spinner {
      color: $color-light;
    }
  }
}
